<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <meta name="renderer" content="webkit" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="keywords" content="{% block keywords %}{% endblock %}" />
    <meta name="description" content="{% block description %}{% endblock %}" />

    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="//dn-cdnjscn.qbox.me/ajax/libs/highlight.js/8.4/styles/solarized_light.min.css">
    <link rel="stylesheet" href="//dn-cdnjscn.qbox.me/ajax/libs/semantic-ui/1.10.3/semantic.min.css">
    <link rel="stylesheet" href="{{'style/css/style.css' | staticUrl}}">
    {% block css %}{% endblock %}

</head>
<body class="{% block bodyClass %}{% endblock %}">
    <!--[if lt IE 9]>
    <div class="alert error">您的浏览器版本<strong>很旧很旧</strong>，为了正常地访问网站，请升级您的浏览器 <a target="_blank" href="http://browsehappy.com">立即升级</a></div>
    <![endif]-->

    {% block head %}{% endblock %}

    {% block body %}{% endblock %}

    {% block foot %}{% endblock %}

    <script src="//cdnjscn.b0.upaiyun.com/libs/require.js/2.1.14/require.min.js"></script>
    <script src="{{'js/config.js' | staticUrl}}"></script>
    {% block js %}{% endblock %}
</body>
</html>
