<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <meta name="renderer" content="webkit" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="keywords" content="{% block keywords %}{% endblock %}" />
    <meta name="description" content="{% block description %}{% endblock %}" />

    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="{{staticUrl('css/style.css')}}">
    {% block css %}{% endblock %}

    <!--[if lt IE 9]>
    <script src="//cdnjscn.b0.upaiyun.com/libs/html5shiv/3.7/html5shiv.min.js"></script>
    <script src="//cdnjscn.b0.upaiyun.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]--> 
     
</head>
<body class="{% block bodyClass %}{% endblock %}">
    <!--[if lt IE 8]>
    <div class="alert error">您的浏览器版本<strong>很旧很旧</strong>，为了正常地访问网站，请升级您的浏览器 <a target="_blank" href="http://browsehappy.com">立即升级</a></div>
    <![endif]-->

    {% block head %}{% endblock %}

    {% block body %}{% endblock %}

    {% block foot %}{% endblock %}
    
    <script src="//cdnjscn.b0.upaiyun.com/libs/require.js/2.1.14/require.min.js"></script>
    <script src="{{staticUrl('js/config.js')}}"></script>
    {% block js %}{% endblock %}
</body>
</html>
